<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="JDK_LOGGING" />
	</settings>

	<typeAliases>
		<typeAlias type="nami.beitrag.db.BeitragAbmeldung" alias="BeitragAbmeldung" />
		<typeAlias type="nami.beitrag.db.BeitragBrief" alias="BeitragBrief" />
		<typeAlias type="nami.beitrag.db.BeitragBuchung" alias="BeitragBuchung" />
		<typeAlias type="nami.beitrag.db.BeitragLastschrift" alias="BeitragLastschrift" />
		<typeAlias type="nami.beitrag.db.BeitragMahnung" alias="BeitragMahnung" />
		<typeAlias type="nami.beitrag.db.BeitragMitglied" alias="BeitragMitglied" />
		<typeAlias type="nami.beitrag.db.BeitragPrenotification" alias="BeitragPrenotification" />
		<typeAlias type="nami.beitrag.db.BeitragRechnung" alias="BeitragRechnung" />
		<typeAlias type="nami.beitrag.db.BeitragSammelLastschrift" alias="BeitragSammelLastschrift" />
		<typeAlias type="nami.beitrag.db.BeitragSepaMandat" alias="BeitragSepaMandat" />
		<typeAlias type="nami.beitrag.db.BeitragZeitraum" alias="BeitragZeitraum" />

		<typeAlias type="nami.beitrag.db.DataLastschriftMandat" alias="DataLastschriftMandat" />
		<typeAlias type="nami.beitrag.db.DataMitgliederForderungen" alias="DataMitgliederForderungen" />
		<typeAlias type="nami.beitrag.db.ZeitraumSaldo" alias="ZeitraumSaldo" />

		<typeAlias type="nami.beitrag.db.LastschriftenMapper$DataMandateRechnungen" alias="DataMandateRechnungen" />
		<typeAlias type="nami.beitrag.db.LastschriftenMapper$DataPrenotificationMandat" alias="DataPrenotificationMandat" />
		<typeAlias type="nami.beitrag.db.LastschriftenMapper$DataRechnungMitglied" alias="DataRechnungMitglied" />

		<typeAlias type="nami.beitrag.db.MandateMapper$DataLastschriftSammellastschrift" alias="DataLastschriftSammellastschrift" />

		<typeAlias type="nami.beitrag.db.RechnungenMapper$DataFindRechnungen" alias="DataFindRechnungen" />
		<typeAlias type="nami.beitrag.db.RechnungenMapper$DataHalbjahrBetraege" alias="DataHalbjahrBetraege" />
		<typeAlias type="nami.beitrag.db.RechnungenMapper$DataListPosten" alias="DataListPosten" />
		<typeAlias type="nami.beitrag.db.RechnungenMapper$DataMahnungKomplett" alias="DataMahnungKomplett" />
		<typeAlias type="nami.beitrag.db.RechnungenMapper$DataRechnungMitBuchungen" alias="DataRechnungMitBuchungen" />

		<typeAlias type="nami.beitrag.db.ReportsMapper$DataAbrechnungNachTypen" alias="DataAbrechnungNachTypen" />
		<typeAlias type="nami.beitrag.db.ReportsMapper$DataAnzahlBuchungenProHalbjahr" alias="DataAnzahlBuchungenProHalbjahr" />

		<typeAlias type="nami.beitrag.db.AbmeldungenMapper$DataAbmeldungMitglied" alias="DataAbmeldungMitglied" />

		<typeAlias type="nami.beitrag.reports.DataAbrechnungHalbjahr" alias="DataAbrechnungHalbjahr" />
		<typeAlias type="nami.connector.Halbjahr" alias="Halbjahr" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<databaseIdProvider type="VENDOR">
		<property name="MySQL" value="mysql" />
		<property name="HSQL" value="hsql" />
	</databaseIdProvider>

	<mappers>
		<mapper resource="nami/beitrag/db/Abmeldungen.xml" />
		<mapper resource="nami/beitrag/db/Beitrag.xml" />
		<mapper resource="nami/beitrag/db/Briefe.xml" />
		<mapper resource="nami/beitrag/db/Lastschriften.xml" />
		<mapper resource="nami/beitrag/db/Mandate.xml" />
		<mapper resource="nami/beitrag/db/Rechnungen.xml" />
		<mapper resource="nami/beitrag/db/Reports.xml" />
	</mappers>

</configuration>
