\input{template_prenotification.tex}

\newkomavar{faelligkeit}
\newkomavar{mandatsreferenz}
\newkomavar{credid}
\setkomavar{credid}{$creditorId}
\newkomavar{betrag}
\newkomavar{iban}
\newkomavar{bic}


\begin{document}

#foreach( $prenotification in $prenots )
	#set( $prenot = $prenotification.prenotification )
	#set( $mandat = $prenotification.mandat )
	\setkomavar{date}{$date.format('dd.MM.yyyy', $prenot.datum)}
	\setkomavar{faelligkeit}{$date.format('dd.MM.yyyy', $prenot.faelligkeit)}
	\setkomavar{betrag}{$prenot.betrag.negate()}
	\setkomavar{mandatsreferenz}{$mfrePrefix$prenot.prenotificationId}
	\setkomavar{iban}{$mandat.iban}
	\setkomavar{bic}{$mandat.bic}
	#if ($prenot.regelmaessig)
	\prenotification%
	#else
	\prenotification[einmalig]%
	#end
	{$mandat.kontoinhaber}{$mandat.strasse\\$mandat.plz $mandat.ort}

#end


\end{document}
