\input{template_rechnung.tex}

\newkomavar{frist}
\newkomavar{rechnungsnummer}
\newkomavar{betrag}
\newkomavar{mitgliedsname}


\begin{document}

#foreach( $rechnung in $rechnungen )
	#set( $mgl = $rechnung.mitglied )
	#set( $betragsum = false )
	#foreach( $buchung in $rechnung.buchungen )
		#if ( $betragsum )
			#set( $betragsum = $betragsum.add($buchung.betrag.negate()) )
		#else
			#set( $betragsum = $buchung.betrag.negate() )
		#end
	#end
	
	\setkomavar{date}{$date.format('dd.MM.yyyy', $rechnung.rechnung.datum)}
	\setkomavar{frist}{$date.format('dd.MM.yyyy', $rechnung.rechnung.frist)}
	\setkomavar{betrag}{$betragsum}
	\setkomavar{rechnungsnummer}{$rechnung.rechnung.rechnungsNummer}
	\setkomavar{mitgliedsname}{$mgl.vorname $mgl.nachname}
	\begin{rechnung}{$mgl.vorname $mgl.nachname}{$mgl.strasse\\$mgl.plz $mgl.ort}
	#foreach( $buchung in $rechnung.buchungen )
		\rechnungposten{$!buchung.kommentar}{$buchung.betrag.negate()}
	#end
	\end{rechnung}

#end


\end{document}
