\documentclass[foldmarks=true]{dpsgbrief}

\usepackage[ngerman]{babel}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}

\LoadLetterOption{stamm}
\setkomavar{signature}{Fabian Lipp}
\setkomavar{date}{$date.format('dd.MM.yyyy', $rechnungsdatum)}

\newkomavar{neuefrist}
\setkomavar{neuefrist}{$date.format('dd.MM.yyyy', $frist)}

\renewcommand{\arraystretch}{1.5}

\begin{document}

#foreach( $recipient in $recipientList )
	\begin{rechnung}{$recipient.mgl.vorname $recipient.mgl.nachname}{$recipient.mgl.strasse\\##
	$recipient.mgl.plz $recipient.mgl.ort}{$recipient.rechnungsNummer}{999,99}
#foreach( $buchung in $recipient.buchungen )
		\rechnungposten{$buchung.kommentar}{$buchung.betrag}
#end
	\end{rechnung}

#end



\end{document}
